
:root {
    font-family: cursive, sans-serif;
}


body {
    margin: 0;
    padding: 0;
}





.base {
    background-color: #ddd;
}

.title-container {
    margin: 0;
    padding: 0;

    height: 120px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-container > h1 {
    margin: 0;
    font-size: 50px;
}


.navbar {
    border: 1px solid black;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.navbar > button {
    height: 100%;
    border: 1px solid black;

    min-width: 40px;
    width: 30%;

    background-color: #fff;
}
.navbar > button:hover {
    background-color: #555;
}

.page {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.home-page {

}
.home-image {
    width: 600px;
}


.menu-page {

}
.food-item {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.contact-page {

}